@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100;600&family=Poppins&family=Roboto&family=Roboto+Mono:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #02223d, #000428);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #02223d, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #ffff;
    font-family: 'Poppins', sans-serif;
}

#header {
    width: 100%;
    height: 710px;
    background-image: url(images/bg4.jpg);
    background-size: cover;
    background-position: center;
}

nav {
    padding:2px 0px;
    width: 100%;
    display: flex;
    position: relative;
    /* position: fixed; */
    background-color: #011728;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
nav a img{
    height: 70px;
    width: 150px;
    padding: 10px 0px;

}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-family: 'MuseoModerno', cursive;
    position: relative;
    font-weight: bold;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: rgb(179, 211, 22);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

nav .fa-solid{
    display: none;
}


.headtext {
    margin-top: 3%;
    margin-left: 5%;
    font-size: 30px;
    float: left;
    text-align: left;
}

.headtext h1 {
    font-size: 50px;
    margin-top: 5px;
    font-family: 'MuseoModerno', cursive;
}
.headtext h1 span{
    color:rgb(192, 223, 41) ;
}
.headtext p{
    font-family: 'Playfair', serif;
    font-size: 28px;
    color: rgb(7, 17, 32);
    text-transform: capitalize;
    padding: 5px;
    font-weight: 600;
}
.ui{
    border-radius: 10px;
    background: #fff;
    width: 350px;
}

/* ===================about====================  */
#about {
    padding: 65px 0px;
    background: url(images/finalbg-removebg-preview1.png);
    background-size: cover;
}

.row {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-family: 'Roboto Mono', monospace;

}

.about-col-1 {
    flex-basis: 20%;
    margin-left: 100px;
    border: 1px solid white;
    box-shadow: 7px 7px 17px rgb(6, 15, 91);
    border-radius: 10px;
    height: fit-content;
    margin-top: 70px;
}

.about-col-1 img {
    width: 100%;
    border-radius: 15px;
}
.about-col-2 {
    flex-basis: 60%;
    margin-right: 10px;
}
.about-col-2 p{
    text-align:left;
    margin: 25px;
    font-size: 1.25rem;
    line-height: 30px;
    margin-left: 70px;
}
.about-col-2 #topp{
    margin-top: 30px;
}
.subtitlee {
    font-size: 40px;
    font-weight: 500;
    color: rgb(7, 17, 32);
}
.subh{
    background: #fff;
    border-radius: 5px;
    width: 250px;
    margin-left: 70px;
}

/* =================Our services=============  */

#services {
    padding: 6% 10%;
}
.contain{
    background: white;
    border-radius: 10px;
    width: 20%;
    display: flex;
    justify-content: center;
    left: 40%;
    position: relative;
}
.servicetitle{
    color: rgb(7, 17, 32);
    font-size: 40px;
    font-family: 'Roboto Mono', monospace;
    /* padding: 5px;     */
}
.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 10px;
    margin: 60px 0;
    color: rgb(0, 0, 0);
    border-bottom: 1px solid white;
    padding-bottom: 100px;
    justify-items: center;
    
}
.services-list a{
    text-decoration: none;
    color: #000;
}
.services-list div{
    background: rgb(255, 255, 255);
    height: 330px;
    width: 300px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: 1.5;
    /* transition: background .2s, transform 0.2s; */
    border: 1px solid white;
    
}
.container{
    text-align: center;
}
.services-list div img{
    height: 180px;
    width: 100%;
    border-radius: 10px;
}

.services-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    text-align: center;
}
.services-list div p{
    text-align: left;
    margin-top: 9px;
    margin-left: 12px;
    font-weight: 500;
    font-family: 'Roboto Mono', monospace;
}

.services-list div:hover {
    transform: scale(0.95);
    transition: 0.8s;
}

/*================== Our courses ===================*/

.team{
    background: url(images/finalbg2.jpg);
    background-size: cover;
    padding: 0px 5%;
    text-align: center;
    padding-bottom: 100px;
}
.sub-title{
    color: rgb(7, 17, 32);
    font-size: 40px;
}

.workk-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 50px;
    margin: 50px 40px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    
}
.workk-list div img{
    height: 50%;
    width: 100%;
}
.workk{
    border: 1px solid white;
    overflow: hidden;
    height: 350px;
    width: 310px;
}
.workk p{
    color: #000;
    margin-top: 10px;
    font-size: 15px;
}

.workk img {
    margin: 5px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layerr {
    width: 100%;
    height: 50%;
    background: white;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.2s;
}

.layerr h2 {
    font-weight: 800;
    text-transform: uppercase;
    padding-top: 20px;
    color:#000;
}

.layerr a {
    margin-top: 20px;
    color: rgb(12, 12, 179);
    text-decoration: none;
    font-size: 18px;
    line-height: 40px;
    background: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
}

.workk:hover .layer {
    height: 100%;
}
#broucher{
    color: #fff;
    font-size: 1.05rem;
    padding: 20px;
    background: rgb(39, 164, 184);
    border: 1px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.7s;
}
#broucher:hover{
    transform: scale(0.9);
    
}
#broucher a{
    text-decoration: none;
    color: #fff;
}
#broucher i{
    margin: 4px;
}


/*================== footer ===================*/
footer{
    /* background:url(images/footer-sideshape.png); */
    background-color: #011728;
    width: 100%;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* background-image: url(images\footer-sideshape.png); */
}
.detail{
    padding: 54px 0px;
    padding-left: 80px;
    width: 30%;
}
.links{
    padding: 44px 0px;
    padding-left: 80px;
    width: 30%;
}
.links h2{
    margin-bottom: 25px;
}
.links>ul>li{
    list-style: none;
    margin: 5px 0;
}
.links>ul>li>a{
    text-decoration: none;
    color: #fff;
}
.links>ul>li>a i{
    padding-right: 10px;
}
.links>ul>li>a:hover{
    color: rgb(49, 122, 231);
}
.contact{
    padding: 30px 50px;
    width: 33.3%;
}
.contact h2{
    margin-bottom: 25px;
}
.contact p{
    margin: 10px 0;
}
.contact p a{
    text-decoration: none;
    color: #fff;
}
.contact p i{
    margin-right: 10px;
}
.social{
    margin: 20px 0;
}
.social a{
    color: #fff;
    text-decoration: none;
    font-size: 30px;
}
.social a i{
    transition: transform 0.7s;
}
.social a:hover i{
    transform: scale(1.4);
    
}

#ins{
    margin-right: 15px;
}
.social a:hover #fb{
    color: blue;
}
.social a:hover #lin{
    color: #0A66C2;
}
.social a:hover #ins{
    color: #d62976;
}
.social a:hover #you{
    color: red;
}
#you{
    margin-left: 15px;
}
.copyright{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    height: auto;
    /* text-align: center; */
    color: rgb(86, 86, 86);
    border-top: 1px rgb(90, 89, 89) solid;
    margin: 0 30px;
}
.copyright div{
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.5s;
}
.copyright div>a i{
    padding: 7px;
}
.copyright div:hover{
    background-color: rgb(248, 245, 89);
    transform: translateY(-8px);
}


/* ===============our team===============  */

.teamm{
    padding: 0px 240px;
    text-align: center;
    margin-bottom: 200px;
}
.containerr{
    display: flex;
    justify-content: center;
}
.sub-title{
    /* margin-top: 20px; */
    background-color: #fff;
    padding: 5px;
    border-radius: 10px;
}
.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(185px, 1fr));
    grid-gap: 45px;
    margin: 50px 0px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    
}
.work-list div{
    box-shadow: 5px 5px 6px rgb(0, 26, 80);
}
.work-list div img{
    height: 280px;
    width: 100%;
    border-radius: 10px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden
}

.work img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), #000000);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 10px;
    text-align: center;
    font-size: 14px;
    transition: height 0.2s;
}

.layer h2 {
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 20px;
}
.layer p{
    font-size: 15px;
}
.layer a {
    margin-top: 15px;
    color: rgb(12, 12, 179);
    text-decoration: none;
    font-size: 18px;
    line-height: 40px;
    background: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}

/* ================css for small screens=============== */

@media only screen and (max-width:600px){
    #header{
        background-image:url(/images/bg3.jpg) ;
        height: 100vh;
    }
    .headtext{
        margin-top: 35%;
        font-size: 18px;
        /* float: left; */
    }
    .headtext h1{
        font-size: 20px;
    }

    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav a img{
        height: 70px;
        width: 130px;
        
    }
    nav ul{
        background: rgb(7, 17, 32);
        position:fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 3;
        transition: right 0.5s;
        opacity: 1;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position:absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .footer{
        display: block;
    }
    .detail{
        width: 100%;
    }
    .contact{
        width: 100%;
        padding-left: 80px;
    }
    .links{
        width: 100%;
    }
    .copyright>p{
        font-size: 10px;
        text-align: center;
    }
    #services {
        padding: 30px 20px;
    }
    .about-col-1 {
        flex-basis: 80%;
        margin-left: 40px;
    }
    .about-col-2 {
        flex-basis: 100%;
        margin-top: 50px;
    }
    .subtitle {
        font-size: 30px;
        font-weight: 600;
        color: white;
        margin-top: 50px;  
    }
    .about-col-2 p{
        text-align:left;
        margin: 25px;
        font-size: 1.1rem;
    }
    .sub-title{
        font-size: 30px;
    }



    .services-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
        grid-gap: 20px;
        
    }
    
    .services-list div{
        background-color:#fff;
        height: 300px;
        font-size: 3px;
        font-weight: 300;
        border-radius: 10px;
        transition: background .2s, transform 0.2s;
    }
    .container{
        text-align: center;
    }
    .services-list div img{
        height: 100px;
        width: 100%;
        border-radius: 10px;
    }
    .services-list div a {
        font-size: 12px;
    }
    .services-list div h2{
        text-align: center;
        font-size: 25px;
        margin-top: 15px;
    }
    .services-list div p{
        text-align: left;
        font-size: 13px;
    }
    .work-list{
        grid-gap: 30px;
    }


    .containerr{
        padding: 0px 10%;
    }
    .sub-title {
        font-size: 40px;
    }

    .aboutt-col-2 .subtitle {
        font-size: 25px;
    }

    .aboutt-col-1,
    .aboutt-col-2 {
        flex-basis: 100%;
    }

    .aboutt-col-1 {
        margin-bottom: 30px;
    }
    .aboutt-col-1 img{
        height: 200px;
        width: auto;
    }
    .aboutt-col-2 {
        font-size: 14px;
    }

    .tab-titles .tab-links {
        font-size: 16px;
        margin-right: 10px;
    }
    .contain{
        left: 0;
        width: auto;
    }
    .roww{
        flex-direction: column;
    }
    .tab-contents p{
        margin-right: 0px;
    }
}

/* business verticals */
#aboutt {
    padding: 35px 0px;
    color: #fff;
}

.roww {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.aboutt-col-1 {
    flex-basis: 35%;
}

.aboutt-col-1 img {
    width: 100%;
    border-radius: 15px;
}
.aboutt-col-2 {
    flex-basis: 60%;

}
.bu h1{
    background: white;
    border-radius: 10px;
    text-align: center;

}
.subtitle {
    font-size: 40px;
    font-weight: 600;
    color: rgb(7, 17, 32);
    padding: 2px;
}

.tab-titles {
    display: flex;
    margin: 35px 0px 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 100%;

}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
    font-size: 16px;
}

.tab-contents ul li span {
    color: #b54769;
    font-size: 18px;
}

.tab-contents {
    display: none;
}
.tab-contents p{
    margin-right: 200px;
}
.tab-contents.active-tab {
    display: block;
}

/* reveal, poll and roll classes */
.roll{
    position: relative;
    transform: translateX(120px);
    opacity: 0;
    transition: all 1.5s ease;
}
.roll.active{
    transform: translateX(0px);
    opacity: 1;
}
.poll{
    position: relative;
    transform: translateX(-120px);
    opacity: 0;
    transition: all 1.5s ease;
}
.poll.active{
    transform: translateX(0px);
    opacity: 1;
}
.reveal{
    position: relative;
    transform: translateY(120px);
    opacity: 0;
    transition: all 1.5s ease;
}
.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}


