@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100;600&family=Poppins&family=Roboto&family=Roboto+Mono:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
   background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #02223d, #000428);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #02223d, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #ffff;
    font-family: 'Poppins', sans-serif;
}


nav {
    width: 100%;
    display: flex;
    position: fixed;
    background-color: #011728;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap; 
}
nav a img{
    height: 70px;
    width: 190px;
    padding: 5px 0px;

}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-family: 'MuseoModerno', cursive;
    position: relative;
    font-weight: bold;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: rgb(229, 127, 26);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

nav .fa-solid{
    display: none;
}



/* ============================ contact =========================== */
#contact{
    padding-top: 5px;
}
#contact h1{
    text-align: center;
    font-size: 35px;
}
.containerr{
    display: flex;
    padding: 50px;
    
}
.contact-left {
    display:flex;
    flex-wrap: wrap;
    width: 50%;
    height: 500px;
    /* height: auto; */
}
.contact-left div{
    width: 40%;
    border: 1px solid black;
    border-radius: 10px;
    height: auto;
    margin: 12px;
    background-color: #fff;
    color: black;
}
.contact-left .g{
    width: 83%;
}
.contact-left div h2{
    text-align: center;
    padding-top:5px ;
}
.contact-left div i{
    color: rgb(7, 17, 32);
    display: flex;
    justify-content: center;
    font-size: 35px;
    margin: 15px 0 ;
    
}
.contact-left div p{
    text-align: center;
}

.contact-right {
    width: 50%;
}

.contact-left p {
    margin-top: 5px;
}
#form h3{
    font-size   : 25px;
}
.contact-right form{
    width: 80%;
}
form input,form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #ffffff;
    padding: 15px;
    margin: 15px 0;
    color: rgb(0, 0, 0);
    font-size: 18px;
    border-radius: 6px;
}
/* contact form */
#contact{

    background: rgb(14, 35, 67);
}

.container{
    width: 100%;
    height:100vh;
    display:flex;
}

form{
    display: flex;
    flex-direction: column;
    padding:2vw 4vw;
    width: 30%;
    max-width: 600px;
    border: 1px solid #fff;
}
form h3{
    color: #090b36;
    font-weight: 800;
    margin-bottom: 20px;
}

form input  textarea{
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background:#ffffff;
    font-size: 16px;
}

/* style for send button  */
button {
    font-family: inherit;
    font-size: 20px;
    background: royalblue;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
    margin-top: 10px;
    width: 140px;
  }
  
  button span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
  }
  
  button svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
  }
  
  button:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;

  }
  
  button:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
  }
  
  button:hover span {
    transform: translateX(5em);
  }
  
  button:active {
    transform: scale(0.95);
  }
  
  @keyframes fly-1 {
    from {
      transform: translateY(0.1em);
    }
  
    to {
      transform: translateY(-0.1em);
    }
  }
#msg{
    display: block;
    color: #fff;
    margin-top: 15px;
    margin-left: 10px;
    font-size: 1.35rem;
}


/*================== footer ===================*/
footer{
    background-color: #011728;
    width: 100%;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.detail{
    padding: 30px 0px;
    padding-left: 80px;
    width: 33.3%;
}
.links{
    padding: 30px 0px;
    padding-left: 80px;
    width: 33.3%;
}
.links h2{
    margin-bottom: 25px;
}
.links>ul>li{
    list-style: none;
    margin: 5px 0;
}
.links>ul>li>a{
    text-decoration: none;
    color: #fff;
}
.links>ul>li>a i{
    padding-right: 10px;
}
.links>ul>li>a:hover{
    color: rgb(49, 122, 231);
}
.contact{
    padding: 30px 50px;
    width: 33.3%;
}
.contact h2{
    margin-bottom: 25px;
}
.contact p{
    margin: 10px 0;
}
.contact p a{
    text-decoration: none;
    color: #fff;
}
.contact p i{
    margin-right: 10px;
}
.social{
    margin: 20px 0;
}
.social a{
    color: #fff;
    text-decoration: none;
    font-size: 30px;
}
.social a i{
    transition: transform 0.7s;
}
.social a:hover i{
    transform: translateY(-7px);
    
}

#ins{
   margin-right: 15px;
}
.social a:hover #fb{
    color: blue;
}
.social a:hover #lin{
    color: #0A66C2;
}
.social a:hover #ins{
    color: rgb(235, 0, 94);
}
.social a:hover #you{
    color: red;
}
#you{
    margin-left: 15px;
}
.copyright{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    height: auto;
    /* text-align: center; */
    color: rgb(86, 86, 86);
    border-top: 1px rgb(90, 89, 89) solid;
    margin: 0 30px;
}
.copyright div{
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.5s;
}
.copyright div>a i{
    padding: 7px;
}
.copyright div:hover{
    background-color: rgb(115, 168, 249);
    transform: translateY(-8px);
}



/* ================css for small screens======================  */

@media only screen and (max-width:600px){
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #000000;
        position:fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 3;
        transition: right 0.5s;
        opacity: 0.9;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position:absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .footer{
        display: block;
    }
    .detail{
        width: 100%;
    }
    .contact{
        width: 100%;
        padding-left: 80px;
    }
    .links{
        width: 100%;
    }
    .copyright>p{
        font-size: 10px;
        text-align: center;
    }
    #services {
        padding: 30px 40px;
    }
    .services-list{
        grid-gap: 20px;
    }
    .about-col-1 {
        flex-basis: 80%;
        margin-left: 40px;
    }
    .about-col-2 {
        flex-basis: 50%;
    }
    .subtitle {
        font-size: 30px;
        font-weight: 600;
        color: white;
        margin-top: 50px;
    }
    .containerr{
        display: block;
        padding: 30px;
    }
    .contact-right {
        width: 100%;
        padding-top: 40px;
    }
    .contact-left {
        width: 100%;
        height: 410px;
    }
    .contact-left div{
        width: 42%;
        height: 180px;
    }
    .contact-left .g{
        width: 100%;
    }
    .contact-right form {
        width: 100%;
    }

    .contact-left div h2{
        padding-top:5px;
        font-size: 20px;
    }
    .contact-left div i{
        font-size: 20px;
        margin: 15px 0 ;
        
    }
    .contact-left div p{
        font-size: 12px;
    }
    #contact h1{
        font-size: 28px;
    }
   
}

